.container {
  flex-direction: row;
  /* width:1440px; */
  background-color: #eee;
}
.subHeading{
  font-size: 18px;
  font-weight: bold;
  padding-top: 5%;
  padding-left: 5%;
  margin:0 !important;
}
.subTitle{
  font-size: 12px;
  border-bottom: 1px solid black;
  width: 100px;
  text-align: center;
  margin: 5% 10%;
}
.ftClr1{
  color: blue;
}
.btn{
  background-color: lightgreen;
  border: none;
  opacity: 1;
  text-align: center;
  width: 35%;
  margin: 5% 7%;
  border-radius: 10% 10%;
}
.btn:focus {
  background-color: darkgreen;
  outline: none;
}
.col1{
  background-color: #fff;
  width: 15%;
  border-radius: 3%;
  height: 600px;
  margin-top: 10px;
}
.img{
  width: 170px;
  height: 150px;
  background-color: #eee
}
.content{
  width: 180px;
  padding: 2%;
  border-radius: 2%;
  margin: 0.9%;
  height: 400px;
  background-color: #fff;
}
.contentTitle{
  color: blue;
    font-weight: bold;
}
.col2{
  width: 80%;
  background-color: #eee;
  display: inline-flex;
  display: -ms-flexbox;
  max-width: 80%;
  -ms-flex-pack: distribute;
  margin: 0 10px;
  flex-wrap: wrap;
}
.bold{
  font-weight:bold;
  color:#000
}
header{
  width: 100%;
  max-width: 100%;
  padding: 1px 4px;
}
.row{
  display: inline-flex;
  width: 99%;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 1%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the footer */
footer {
  background-color: #eee;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  font-size: 20px;
}

/* Media Query for Mobile */ 
@media (max-width: 700px) {
  .col1 {
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    margin-left: 10%;
  }
  .col2 {
    flex-direction: column;
    max-width: 100%;
    width: 80%;
    margin-left: 20%;
    margin-top: 5%;
  }
  .btn{
    margin: 2% 7%;
  }
  .subTitle{
    margin: 3% 30%;
  }
  .content{
    padding: 7%;
    margin: 5%;
  }
}
/* Media Query for Tablets Ipads portrait mode */ 
@media (min-width: 701px) and (max-width: 1024px){ 
   .col1{
    width: 60%;
    margin: 0 auto;
   }
   .btn{
    margin: 2% 5%;
  }
  .subTitle{
    margin: 1% 30%;
  }
  .col2 {
    flex-direction: row;
    margin: 5% 15%;
    padding: 0 7%;
  }
  .content{
    margin: 1.4%;
  }
} 