<div class="container">
  <header>
    <h3>SpaceX Launch Programs</h3>
  </header>
  <div class="row">

    <div class="col1">
      <p class="subHeading">Filters</p>
      <div>
        <p class="subTitle">Launch Years</p>
        <ng-container *ngFor="let year of yearButtons">
          <button class="btn" [ngClass]="(selectedYear == year) ? 'success' : 'failure'"
            (click)="getYear(year)">{{year}}</button>
        </ng-container>
      </div>
      <div>
        <p class="subTitle">Successful Launch</p>
        <ng-container *ngFor="let launch of launchButtons">
          <button class="btn" [ngClass]="(selectedLaunch == launch) ? 'success' : 'failure'"
            (click)="getLaunch(launch)">{{launch}}</button>
        </ng-container>
      </div>
      <div>
        <p class="subTitle">Successful Landing</p>
        <ng-container *ngFor="let land of launchButtons">
          <button class="btn" [ngClass]="(selectedLand == land) ? 'success' : 'failure'"
            (click)="getLand(land)">{{land}}</button>
        </ng-container>
      </div>
    </div>

    <div class="col2">
      <ng-container *ngFor="let data of spacePrograms;let i=index">
        <div class="content">
          <img class="img" src='{{data.logo}}' />
          <p class="contentTitle">{{data.mission_name}} #{{data.flight_No}}</p>
          <div>
            <p class="bold">Mission Ids:</p>
            <ul class="ftClr1" *ngFor="let list of data.mission_id">
              <li>{{list}}</li>
            </ul>
            <P class="ftClr1"><span class="bold">Launch Year:</span> {{data.launch_year}}</P>
            <p class="ftClr1"><span class="bold">Successful Launch:</span> {{data.launch_success}}</p>
            <p class="ftClr1"><span class="bold">Successful Landing:</span>
              {{(data.launch_land == true || data.launch_land == false)  ? data.launch_land : 'null' }}</p>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
  <footer>
    <span class="bold">Developed By:</span> {{developer_name}}
  </footer>
</div>